.mt-1{
	margin-top:1em;
}
.mt--1{
  margin-top:-1em;
}
.mt--2{
  margin-top:-2em;
}
.mt-4{
  margin-top:4em;
}
.mt-3{
  margin-top:3em;
}
.mb-3{
  margin-bottom:3em;
}
.mb-2{
  margin-bottom:2em;
}
.width-100{
  width: 100%;
}
.width-10{
  width: 10%;
}
.width-45{
  width: 45%;
}
.mrl-1{
  margin-right:0.1em;
  margin-left:0.1em;
  margin-bottom:0.25em;
}
.prl-2-5{
  padding-left:2.5em;
  padding-right:2.5em;
}
.prl-1-5{
  padding-left:1.5em;
  padding-right:1.5em;
}
.prltb-1{
  padding-bottom:1em;
  padding-top:1em;
  padding-left:1em;
  padding-right:1em;
  color:#ffffff;
}
.color-ffffff{
  color:#ffffff;
}
.width-25{
  width:25%;
}
#map {
  height: 100%;
}